@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.img {
    width:50px;
   
}

.lista {
justify-content: space-around;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    
}

a {

    text-decoration: none;
    list-style: none;
    color: #FFDE59;
    font-family: poppins;
    transition: 0.3s ease;

    

} 
body{
    background-color: #4092FF;
}

    

span{
    color: #FFDE59;
}
.text{
    font-family: poppins;
    font-size: 60px;
    margin: 25px;
    color: white;
}

.img2{
    width: 750px;
}
.caixa-pai1{
   background-color: black;
   padding: 20px;
 
   
}

.text1{
    font-size: 20px;
    font-family: poppins;
    margin: 25px;
    color: white;
}


    




.button{
    border-radius: 48px;
    background-color: #FFDE59;
    color: #035CD5;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
   transition: 0.3s ease;
   margin-left: 10px;
}


.caixa-pai2{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.button:hover{
    background-color: #035CD5 ;
    transition: 0.3s ease;
    color:#FFDE59;
}

a:hover{
    color:#035CD5 ;
    transition: 0.3s ease;

}

.caixa-footer{
    display:flex;
    background-color: black;
}

.itens{
    display: flex;
   
}

.caixadetexto{
    padding: 20px;
}
.img4{
    width: 750px;
}
.texto{
    font-family: poppins;
}
